<html>
    <head>
        <meta charset="UTF-8">
        <title>Blockchain Disintegration</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesmain.css' %}">
    </head>
    <body>
        <div class="banner">
            <video autoplay loop muted plays-inline>
                <source src="{% static 'Block1.mp4' %}" type="video/mp4">
            </video>
            <div class="navbar">
                <img class="logo" src="{% static 'logo.png' %}">
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>THE BLOCK-CHAIN UNLOCKED SUCESSFULLY</h1></br>
                <h3> Warning: the block chain venarable to attacks, we suggest you lock it <h3>
                <div>
                </div>
            </div>
        </div>
    </body>
    </html>

